[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetaStan"]
	path = MetaStan
	url = https://github.com/gunhanb/metastan
[submodule "nmaINLA"]
	path = nmaINLA
	url = https://github.com/gunhanb/nmainla
